.heading-container {
  margin: 100px 0;

  @media screen and (max-width: $desktop){
    width: 80%;
  }

  @media screen and (max-width: $tablet){
    width: 100%;
  }
}

.hero-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.15;
  margin: 0;

  @media screen and (max-width: $desktop){
    font-size: 38px
  }

  @media screen and (max-width: $tablet){
    font-size: 32px;
  }
}
