.featured-image {
  background-color: red;
  width: 80%;
  height: 200px;
  margin: 75px auto 0;
}

article {
  padding-bottom: 35px;

  .flex {
    display: flex;
    flex-wrap: wrap;

    .left-col {
      width: 20%;
    }
  
    .main-col {
      width: 60%;
    }
  }

  p {
    font-size: 1.05em;
    -webkit-transition: var(--color-mode-transition);
    -o-transition: var(--color-mode-transition);
    transition: var(--color-mode-transition);
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
    padding-bottom: 2em;
    line-height: 1.75em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0 auto 20px;
    width: 100%;
    max-width: 650px;
  }

  h1 {
    font-size: 1.4em;
  }

  .img-zoom {
    width: 80%;
    margin: 35px auto;

    @media screen and (max-width: $desktop) {
      width: 100%;
    }
  }

  .gallery {
    margin: 35px auto 35px;
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: $desktop) {
      margin: 0 auto;
      display: block;
      width: 100%;
    }

    .img-zoom {
      flex-grow: 0;
      flex-shrink: 0;
      flex: 1;
      padding: 0 20px;

      @media screen and (max-width: $desktop) {
        padding: 0;
        width: 100%;
      }
    }
  }

  .video {
    margin: 35px auto;
  }

  figcaption {
    text-align: center;
    font-style: italic;
    padding-bottom: 1.5em;
  }

  .heading-container {

    h1 {
      margin-bottom: 0;
      font-weight: 700;
    }
  }
}
