section#projects {
  margin-top: 85vh;
  padding-bottom: 35px;
}

@media screen and (max-width: $tablet) {
  section#projects {
    margin-top: 110vh;
  }
}

.project {
  position: relative;
  /* to make the entire div clickable */
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  margin-top: 50px;

  &:nth-of-type(1) {
    margin-top: 0
  }

  img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  
  @media screen and (min-width: $tablet) {
    width: 47%;
    margin-right: 4%;
  
    &:nth-of-type(2n) {
      margin-right: 0
    }
  
    &:nth-of-type(1),
    &:nth-of-type(2) {
      margin-top: 0
    }
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    border-bottom: none;
  }
  
  &:hover {
    cursor: pointer;

    button.btn-light span {
      max-width: 14rem;
      -webkit-transition: max-width 1s;
      transition: max-width 1s;
    }    
  }

  h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
  }
  
  p {
    &.intro {
      font-weight: 600;
      font-size: .875rem;
      font-style: normal;
      color: inherit;
      line-height: 1.25;
      text-transform: uppercase;
      letter-spacing: .1em;
    }

    .description {
      font-size: 20px;
      font-weight: 400;
      line-height: 25px;
      padding-top: 5px;
    }
  }

  .button {
    color: #262626;
    letter-spacing: .1em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #e6e6e6;
    border-radius: .125em;
    box-shadow: none;
    transition: all .2s ease-in-out;
  }

  .information-container {
    clear: both;
  }

  .align-container {
    display: inline-block;
    vertical-align: top;
  }
}
