.masthead {
  color: #fff;
  background-color: var(--primary-color);

  a {
    color: #fff;
  }

  .icon {
    img {
      width: 125px;
      border-radius: 50%;
      padding-bottom: 1em;
    }
  }

  h1 {
    margin-top: 0;
    color: #fff;
  }

  .lead {
    margin-bottom: 0;
  }

  @media (min-width: $breakpoint) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $sidebar-width;
    margin-bottom: 0;

    h1 {
      font-size: 64px;
    }
  }
}

.lang-selector {
    padding: 40px 40px 0 40px;

    li {
      display: inline;

      &.selected {
        font-weight: 700;
      }
    }
}

.masthead-inner {
  padding: 40px;

  @media (min-width: $breakpoint) {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.colophon {
  margin-top: 20px;
  color: rgba(255,255,255,.5);

  .colophon-links {
    padding-left: 0;
    list-style: none;
  
    li {
      color: inherit;
      font-size: 1.2em;
      line-height: 1.6em;
    }
  }

  @media (min-width: $breakpoint) {
    margin-top: 40px;
  }
}
