.masthead {
  color: #fff;
  background-color: var(--primary-color);

  .icon {
    img {
      width: 125px;
      border-radius: 50%;
      padding-bottom: 1em;
    }
  }
  h1 {
    margin-top: 0;
    color: #fff;
  }
  .lead {
    margin-bottom: 0;
  }
  a {
    color: #fff;
  }

  @media (min-width: 990px) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 33%;
    margin-bottom: 0;

    h1 {
      font-size: 64px;
    }
  }
}

.masthead-inner {
  padding: 20px;

  @media (min-width: 990px) {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

/* Footer area of masthead */
.colophon {
  margin-top: 20px;
  color: rgba(255,255,255,.5);

  .colophon-links {
    padding-left: 0;
    list-style: none;
  
    li {
      color: inherit;
    }
  }

  @media (min-width: 990px) {
    margin-top: 40px;
  }
}
