@import "vars.scss";
@import "hero.scss";
@import "item.scss";
@import "article.scss";
@import "footer.scss";
@import "sidebar.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: #c6c6c6;
  color: white;
}

::selection {
  background: #c6c6c6;
  color: white;
}

body {
  color: var(--secondary);
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
}

.content {
  margin-left: 33%;
  padding: 40px 40px;

  @media (max-width: $breakpoint) {
    margin-left: 0;
  }
}

.section {
  margin-bottom: 40px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  color: var(--primary)
}

h1 {
  margin-bottom: 1rem;
}
