@import "vars.scss";
@import "navigation.scss";
@import "hero.scss";
@import "projects.scss";
@import "project.scss";
@import "buttons.scss";
@import "footer.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Inter:wght@400&display=swap');

@font-face {
  font-family: 'Domaine';
  src: url('../fonts/domaine/DomaineText-Regular.woff2') format('truetype');
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/Calibre-Regular.woff2') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: #c6c6c6;
  color: white;
}

::selection {
  background: #c6c6c6;
  color: white;
}

body {
  color: var(--secondary);
  background-color: var(--background-color);

}

p {
  font-family: 'Calibre', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Domaine', serif;
  font-weight: 400;
  color: var(--primary)
}

a {
  color: var(--primary);
  font-weight: 700;
  border-bottom: 1px dashed #000;

  &:hover {
    border-bottom: none;
    text-decoration: none;
  }
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.section {
  width: 100%;
  margin: 0 auto;
  padding-left: 4rem;
  padding-right: 4rem;

  @media screen and (max-width: $phone) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.content {
  margin-top: 170px;
  margin-bottom: 100px;
}

.hero {
  margin-bottom: 120px;
}

a.btn-light,
button.btn-light {
  background-color: white;
  box-shadow: 0 6px 50px rgba(0, 0, 0, .06);
  border-radius: 16px;
  font-weight: 200;
  font-size: 0.9em;
}

button {
  .btn-primary {
    background-color: #000c21;
    color: white;
    border: none;
    box-shadow: 0 6px 50px rgba(0, 0, 0, .06);
    border-radius: 16px;
    font-weight: 200;
    font-size: 0.9em;
  }

  .btn-warning {
    background-color: #ffd696;
    border: none;
    box-shadow: 0 6px 50px rgba(0, 0, 0, .06);
    border-radius: 16px;
    font-weight: 200;
    font-size: 0.9em;
  }
}
