$phone: 440px;
$phone-large: 575px;
$tablet: 767px;
$desktop: 1070px;

body {
  --primary: #000;
  --secondary: #262626;
  --primary-color: #CBFFEA;
  --secondary-color: #0046D0;
  --background-color: #ffffff;
}
