{{ $i18n := .Site.IsMultiLingual }}

<header class="masthead">

  <div class="lang-selector">
    {{ if $i18n }}
      {{ partial "components/lang-selector.html" . }}
    {{ end }}
  </div>

  <div class="masthead-inner">

    <a href="{{ "/" | relLangURL }}">

      <div class="icon">
        <img src="/icon.jpeg">
      </div>

      <h1>{{ .Site.Title }}</h1>

    </a>
    
    <p class="lead">{{ .Site.Params.description }}</p>

    <nav class="colophon">
      <ul class="colophon-links">
        <li>
          <a href="{{ "/" | relLangURL }}">
            {{ .Site.Params.home }}
          </a>
        </li>
        {{ range .Site.Menus.main }}
          <li>
            <a href="{{ .URL | relLangURL }}">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
          </li>
        {{ end }}
      </ul>

      <p>&copy; 2020. {{ .Site.Params.author }}.</p>

    </nav>
  </div>
</header>
